*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html , body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
}

.pagesite{
    width: 100%;
}

.details{
    width: 55vw;
}

.prizing{
    flex-grow: .4;
}